
@{
    ViewData["Title"] = "FormTakePhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="jumbotron" style="margin-top:20px;padding:20px;text-align:center;">
        <input type="hidden" id="StudentCode2" value="@ViewBag.StudentCode" />
        <input type="hidden" id="StudentName" value="@ViewBag.StudentName" />
        <input type="hidden" id="OrderNumber" value="@ViewBag.OrderNumber" />
        <input type="hidden" id="ExamId" value="@ViewBag.ExamId"/>
        <p><span id="errorMsg"></span></p>
        <div class="row">
            <div class="col-lg-8">
                <!-- Here we streaming video from webcam -->
                <h4>
                    Bạn hãy cầm thẻ để trước ngực, mặt hướng vào camera để chụp ảnh.<p /> Hình ảnh sẽ được ghi lại sau <b><span id="timeCountDown"></span></b>
                </h4>
                <video id="video" playsinline autoplay></video>
            </div>

            <div class="col-lg-4">
                <h4>
                    Hình ảnh minh họa
                </h4>
                <div id="img-demo">
                    <img src="~/Content/images/demo_kyc.jpg" style="width:340px;height:515px;" />
                </div>
                <canvas style="border:solid 1px #ddd;background-color:white;display:none;" id="canvas" width="340" height="515"></canvas>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    
    
    var video = document.querySelector("#video");
    var displayTime = document.querySelector("#timeCountDown");
    // Basic settings for the video to get from Webcam
    const constraints = {
        audio: false,
        video: {
            width: 600, height: 475
        }
    };

    // This condition will ask permission to user for Webcam access
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });
    }

    var timer = 6;
    const myInterval = setInterval(myTimer, 1000);
    function myTimer() {
        if (--timer <= 0) {
            Capture();
            clearInterval(myInterval);
        }
        $("#timeCountDown").html(timer);
    }
   
    function stop(e) {
        var stream = video.srcObject;
        var tracks = stream.getTracks();

        for (var i = 0; i < tracks.length; i++) {
            var track = tracks[i];
            track.stop();
        }
        video.srcObject = null;
    }

    function Capture() {
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        // Capture the image into canvas from Webcam streaming Video element
        context.drawImage(video, 0, 0);
        $('#img-demo').css("display", "none");
        $('#canvas').css("display", "block");
        SaveCapture();
        //ShowData();
    }

    function ShowData() {
        var studentCode = $('#StudentCode2').val();
        var studentName = $('#StudentName').val();
        var orderNumber = $('#OrderNumber').val();
        var examId = $('#ExamId').val();
        swal({
            title: "Chào mừng bạn " + studentName,
            text: "Mời bạn về máy số "  + orderNumber + "để dự thi",
            type: "success",
            showCancelButton: !1,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Mời bạn tiếp theo !",
        }).then(function () {
            window.location.href = UrlRoot;
        });
    }

    function SaveCapture() {
        var studentCode = $('#StudentCode2').val();
        var studentName = $('#StudentName').val();
        var orderNumber = $('#OrderNumber').val();
        var examId = $('#ExamId').val();
      
        // Below new canvas to generate flip/mirron image from existing canvas
        var destinationCanvas = document.createElement("canvas");
        var destCtx = destinationCanvas.getContext('2d');


        destinationCanvas.height = 450;
        destinationCanvas.width = 900;

        destCtx.translate(video.videoWidth, 0);
        destCtx.scale(-1, 1);
        destCtx.drawImage(document.getElementById("canvas"), 0, 0);

        // Get base64 data to send to server for upload
        var imagebase64data = destinationCanvas.toDataURL("image/png");
        imagebase64data = imagebase64data.replace('data:image/png;base64,', '');
        $.ajax({
            type: 'POST',
            url: UrlRoot + 'Home/UploadWebCamImage/',
            data: { imageData: imagebase64data, code: studentCode, examId: examId, numberOrder: parseInt(orderNumber) },
            dataType: 'json',
            success: function (data) {
                debugger;
                if (data.response >= 0) {
                    //const random = Math.floor(Math.random() * myArray.length);
                    //console.log(random, myArray[random]);
                    swal({
                        title: "Chào mừng bạn " + studentName,
                        //text: "Mời bạn về máy số  " + orderNumber + "  để dự thi",
                        html: '<span style="border: solid 1px #898989;padding: 8px;border-radius: 5px;"> Mời thí sinh về máy số ' + '<b style="color:red;">' + orderNumber + '</b>' + ' để dự thi </span>',
                        type: "success",
                        showCancelButton: !1,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Mời bạn tiếp theo !",
                    }).then(function () {
                        window.location.href = UrlRoot;
                    });
                } else {
                    sweetAlert("Oops...", data.message, "error");
                }
            }
        });
    }
</script>
